{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Company List</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-toolbar top clearfix">
            <ul>
                {% if is_admin %}
                    <li><a href='{% url "company-add" %}' class="mws-ic-16 ic-add">Create Website</a></li>
                {% endif %}
            </ul>
        </div>
        <table class="mws-datatable-fn mws-table" id="datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Admin</th>
                    <th>Status</th>
                    <th>Create Date</th>
                    <th>Tag</th>
                    <th>Show in Homepage</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for c in company_list %}
                <tr class="gradeX">
                    <td>{{ c.name }}</td>
                    <td> <a href="{{ domain }}{{ c.url }}">{{c.url}}</a></td>
                    <td>{{ c.account }}</td>
                    <td>{{ c.status }}</td>
                    <td>{{ c.create_time }}</td>
                    <td>{{ c.tag }}</td>
                    <td>{{ c.is_index }}</td>
                    <td><a href='{% url "company-detail" c.pk %}'><img src="{% static 'css/icons/16/view.png' %}" alt="Detail" width="24" height="24" border="0"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
