{% extends 'base.html' %}

{% block content %}
<div class="mws-panel grid_6">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-pencil">Update Website {{object}}</span>
    </div>
    <div class="mws-panel-body">
        <form id="mws-validate" class="mws-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
            <div class="mws-form-inline">
                <div class="mws-form-row" >
                    <label>Owner Account</label>

                    <div class="mws-form-item medium" style="margin-top:8px;">
                        {{ form.account }}
                        {% if form.account.errors %}
                            <label class='error'>{{form.account.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Name</label>

                    <div class="mws-form-item medium">
                        {{ form.name }}
                        {% if form.name.errors %}
                            <label class='error'>{{form.name.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Slogan</label>

                    <div class="mws-form-item medium">
                        {{ form.slogan }}
                        {% if form.slogan.errors %}
                            <label class='error'>{{form.slogan.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>URL</label>

                    <div class="mws-form-item medium">
                        {{ form.url }}
                        {% if form.url.errors %}
                            <label class='error'>{{form.url.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Youtube URL</label>

                    <div class="mws-form-item medium">
                        {{ form.video_url }}
                        {% if form.video_url.errors %}
                            <label class='error'>{{form.video_url.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>PDF Upload</label>

                    <div class="mws-form-item medium">
                        {% if pdf_url != '' %}
                        <a href="{{ pdf_url }}">{{ pdf_url }}</a>
                        {% endif %}
                        {{ form.pdf_url }}
                        <br/> <span style="color:red;">Please Upload PDF file </span> 
                        {% if form.pdf_url.errors %}
                            <label class='error'>{{form.pdf_url.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Address</label>

                    <div class="mws-form-item medium">
                        {{ form.address}}
                        {% if form.address.errors %}
                            <label class='error'>{{form.address.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Email</label>

                    <div class="mws-form-item medium">
                        {{ form.email}}
                        {% if form.email.errors %}
                            <label class='error'>{{form.email.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Tel</label>

                    <div class="mws-form-item medium">
                        {{ form.tel}}
                        {% if form.tel.errors %}
                            <label class='error'>{{form.tel.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Fax</label>

                    <div class="mws-form-item medium">
                        {{ form.fax}}
                        {% if form.fax.errors %}
                            <label class='error'>{{form.fax.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Description</label>

                    <div class="mws-form-item medium">
                        {{ form.description}}
                        {% if form.description.errors %}
                            <label class='error'>{{form.description.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Category</label>

                    <div class="mws-form-item medium" style="margin-top:8px;">
                        {{ form.tag }}
                        {% if form.tag.errors %}
                            <label class='error'>{{form.tag.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                {% if is_admin %}
                <div class="mws-form-row">
                    <label>Show in Homepage</label>

                    <div class="mws-form-item medium" style="margin-top:10px;">
                        {{ form.is_index }}
                        {% if form.is_index.errors %}
                            <label class='error'>{{form.is_index.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                     <div class="mws-form-row">
                    <label>Order</label>

                    <div class="mws-form-item medium" style="margin-top:10px;">
                        {{ form.dis_order }}
                        {% if form.dis_order.errors %}
                            <label class='error'>{{form.dis_order.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                {% endif %} 

                <div class="mws-button-row">
                <button type="button" class="mws-button gray large"  onclick='javascript:window.history.back();'>Back</button>
                <input type="submit" class="mws-button green large" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

