{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Content Image List</span>
    </div>
    <div class="mws-panel-body">
        {% if  can_add %}
        <div class="mws-panel-toolbar top clearfix">
            <ul>
                <li><a href='{% url "product-detail" product %}' class="mws-ic-16 ic-arrow-left">Back</a></li>
                <li><a href='{% url "gallery-add" product %}' class="mws-ic-16 ic-add">Upload Image</a></li>
            </ul>
        </div>
        {% endif %}
        <table class="mws-datatable-fn mws-table" id="datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <!-- <th>Cover</th> -->
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for c in gallery_list %}
                <tr class="gradeX">
                    <td>{{ c.name }}</td>
                    <td><img src="{{ url_prefix }}{{product}}/{{ c.image_url }}" height="50"></td>
                    <!-- <td>{{ c.is_cover }}</td> -->
                    <td><a href='{% url "gallery-detail" product c.pk %}'><img src="{% static 'css/icons/16/view.png' %}" alt="Detail" width="24" height="24" border="0"></a></td>
                </tr>
 
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
