{% extends "base_empty.html" %}

{% block content %}
<div class="container">

  <div class="mws-panel grid_6">
    <div class="mws-panel-header">
      <h1 style="color:#f0f0f0; line-height:30px;">Welcome to Flinter</h1>
    </div>
    <div class="mws-panel-body">
      <form id="mws-validate" class="mws-form" action="{% url 'django.contrib.auth.views.login' %}" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
        <div class="mws-form-inline">
          <div class="mws-form-row" style="padding-top:20px; padding-bottom:0">
            <label>Username</label>
            <div class="mws-form-item medium">
              <input class="mws-textinput" id="id_username" maxlength="64" name="username" type="text">
            </div>
          </div>

          <div class="mws-form-row" style="ppadding-top:20px; adding-bottom:0">
            <label>Password</label>
            <div class="mws-form-item medium">
              <input class="mws-textinput" id="id_password" name="password" type="password">
            </div>
          </div>
          {% if form.errors %}
          <div class="mws-form-row" style="padding-bottom:0;    margin-top: -20px; color:red;">
            <label></label>
            <div class="mws-form-item medium">
              <span>Your username and password didn't match. Please try again.</span>
            </div>
          </div>
          {%endif%}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="mws-button-row" style="    margin-right: 150px;padding:8px; background:none;border:none;">
            <input type="submit" class="mws-button green large" value="Login">
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
