{% extends "base.html" %}

{% block content %}
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
    	<span class="mws-i-24 i-table-1">Detail of Message</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-toolbar top clearfix">
        	<ul>
        	    <li><a href="#" class="mws-ic-16 ic-arrow-left" onclick="javascript:window.history.back(); return false;">Back</a></li>
            </ul>
        </div>
        <table class="mws-table" id="datatable">
            <tbody>
                <tr class="gradeX">
                    <td>Title</td>
                    <td>{{object.title}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Content</td>
                    <td>{{object.content}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Sender</td>
                    <td>{{object.sender}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Create Date</td>
                    <td>{{object.create_date}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Mobile</td>
                    <td>{{object.mobile}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Email</td>
                    <td>{{object.email}}</td>
                </tr>
                <tr class="gradeX">
                    <td>Company</td>
                    <td>{{object.company}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

