{% extends 'base.html' %}

{% block content %}
<div class="mws-panel grid_6">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-pencil">Update Product {{object}}</span>
    </div>
    <div class="mws-panel-body">
        <form id="mws-validate" class="mws-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label>Name</label>

                    <div class="mws-form-item medium">
                        {{ form.name }}
                        {% if form.name.errors %}
                            <label class='error'>{{form.name.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Company</label>

                    <div class="mws-form-item medium">
                        {{ form.company }}
                        {% if form.company.errors %}
                            <label class='error'>{{form.company.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Description</label>

                    <div class="mws-form-item medium">
                        {{ form.description }}
                        {% if form.description.errors %}
                            <label class='error'>{{form.description.errors.0}}</label>
                        {% endif %}
                    </div>
                </div>

                <div class="mws-button-row">
                <button type="button" class="mws-button gray large"  onclick='javascript:window.history.back();'>Back</button>
                <input type="submit" class="mws-button green large" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

